/*reset*/
body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	background-color:#fff;
	font-family:"Noticia Text", Times, serif;
	font-size:100%;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*common*/
.clear {
	clear:both;
}

nav ul{
	display:block;
}

nav ul li {
	display:block;
	list-style:none;
}

.pic-container {
	width:100%;
}

.pic-container img {
	width:auto;
	height:auto;
	max-width:100%;
}

a:focus, a:active {
	outline:#333 dotted 1px;
}

.cf:after, article:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }

.cf { display: block; }


/*typography*/ 
h1, h2, h3 {
	text-transform:uppercase;
}

h1{
	font-family:Oswald, Arial, sans-serif; /*using webfonts*/
	font-weight:700;
	color:#260C02;
	font-size:2.5em;/*font sizes in ems for beter scalability*/
}
h2 {
	font-family:Oswald, Arial, sans-serif;
	font-weight:700;
	color:#914919;
	font-size:1.75em;
	padding-top:0.25em;
}

h3 a, .blog-post h1{
	padding:2.5%;
	font-family:Oswald, Arial, sans-serif;
	font-weight:700;
	color:#ffffff;
	background-color:#260C02;
	margin-top: 1em;
	font-style:normal;
	display:block;
}

.featured-post h3 a {
    padding: 3.5%;
}

p {
	font-size:1em;
	line-height:1.5;
	padding:1em 0;
}

article p {
	padding: 0.25em 0 0.5em;
}

a {
	color:#2A4A51;
	font-style: italic;
	text-decoration:none;
	border-bottom:1px solid #ccc;
}

a:hover {
	border-bottom:1px solid #2A4A51;
}

nav a, h1 a, h2 a, h3 a, h4 a, h5 a {
	text-decoration:none;
	border-bottom:0 none;
}

.main-menu a {
	font-family: Oswald, Arial, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	padding: 0.75em 5%;
	font-style:normal;
	color:#260C02;
	font-size: 1.5em;
	background-color: #F7EBBA;
}

.main-menu li {
	border-bottom: 1px solid #fff;
}

nav a:hover, h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover {
	text-decoration:none;
	border-bottom:0 none;
}

.author-date {
	color:#914919;
}

footer p {
	color:#666;
}
/*layout*/
.header-wrapper {
	background-color:#260C02;
}

.header-logo {
	text-align:center;
}

.main-menu, .main-menu a {
	display:block;
}
.header-wrapper h1 {
	display:none;
}

.content-wrapper, .footer-wrapper {
	width: 90%;
	margin: 1.5em 5%;
}

.more-link {
	float: right;
    text-align: right;
}

.comments-link {
	display: inline-block;
}

label, input[type="text"], textarea{
	display:block;
	width: 100%;
}

input[type="text"], textarea{
	margin-top: 0.5em;
	border: 1px solid #260C02;
	line-height:1.5;
	font-size: 0.85em;
	font-family: Helvetica, Arial, sans-serif;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 24em;
	color:#666;
	padding: 0.25em;
}

input[type="submit"]{
    background-color: #260C02;
    color: #FFFFFF;
    display: block;
    font-family: Oswald,Arial,sans-serif;
    font-style: normal;
    font-weight: 700;
    padding: 0.5% 1%;
	font-size:1em;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 0 none;
	text-transform:uppercase;
	cursor:pointer;
}

input[type="submit"]:hover {
	background-color: #914919;
}

#ce h2 {
    font-size: 1.5em;
    padding-bottom: 0.5em;
    padding-top: 1em;
}

@media screen and (min-width:24.25em) /*420px at 16px em*/ {
	.main-menu li {
		border-bottom: 0 none;
		border-left:1px solid #fff;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		width:33%;
		float:left;
		text-align:center;
	}

	.main-menu li:first-of-type{
		width:34%;
		border-left: 0 none;
	}

}

@media screen and (min-width:45em) /*720px at 16px em*/ {
	.recent-image {
		width: 30%;
		margin-right:5%;
		float:left;
	}
}

@media screen and (min-width:60em) /*960px at 16px em*/ {
	body {
		background-color: #F7EBBA;
	}

	.header-wrapper	{
		background: url("../images/header.svg") repeat-x scroll center top rgba(0, 0, 0, 0);
	}
	
	.header-logo {
		width: 50%;
		padding-top: 10px;
	}

	.main-menu {
		float: right;
    		margin-top: -8.5em;
    		width: 50%;
	}

	.main-menu li {
		border-left: 1px solid #260C02;
	}  

	.main-menu a {
		background-color:#fff;
	}
	
	.content {
		max-width:62.5em;
	}
	
	input[type="text"], textarea{
		background-color: #FFFCF2;
	}
	input[type="text"]:focus, textarea:focus{
		background-color: #FFF;
		color:#333;
	}
}

@media screen and (min-width:75em) /*1200px at 16px em*/ {
	.header-logo {
		width: 27.5em;
		margin: 0 auto;
		float:none;
	}

	.main-menu ul {
    		padding-left: 13.75em;
	}

	.content {
		font-size:125%; /*20px em*/
		max-width:50em;
		margin: 0 auto;
		padding-left: 3%;
	}

	.featured-post header, .recent-post header, .blog-post header {
		position:relative;
	}

	.featured-post {
		width:95%;
		margin-right:5%;
	}


	.recent-post {
		width:45%;
		margin-right:5%;
		margin-top:5%;
		float:left;
	}
	
	.recent-post:nth-child(odd) {
		/*background: green;*/
		clear:left;
	}

	.recent-text, .featured-text  {
	    float: left;
	    padding: 0.5em 0 0.7em;
	}

	.recent-image {
	    margin-right: 0;
	    width: 100%;
	}

	h3 a {
	    font-size: 1.75em;
	    line-height: 1.25;
	    padding: 7%;
	}

	.author-date {
	    bottom: 0;
	    color: #DEA57E;
	    position: absolute;
	    right: 1%;
	    padding:0 0.5em 0.25em 0;
	    font-size:0.75em;
	}

	.footer-wrapper {
	    margin: 0 auto;
	    max-width: 62.5em;
	    padding-left: 3%;
	}
}	